autom4te.cache/
*~
Makefile
config.log
config.status
config.guess
config.sub

.anjunta
.libs/

*.la

libtool

fraptool/.deps
fraptool/.libs
fraptool/.dirstamp
fraptool/*.o
fraptool/*.lo

*.jpg
*.ps
*.csv

